.hackernews-app-header,
.hackernews-app-body-filters {
  text-align: center;
}

.hackernews-app-logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.hackernews-app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.hackernews-app-body {
  padding-top: 5px;
}

.hackernews-app-body-filters {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hackernews-app-body-filters button {
  margin-right: 5px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* SPINNER */
@-webkit-keyframes rotating-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes rotating-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes rotating-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes rotating-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes rotating-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.spinner-container {
  margin-top: 100px;
  text-align: center;
}

.spinner {
  display: inline-block;

  width: 150px;
  height: 150px;

  border: solid 1px transparent;
  border-top-color: #61DAFB;
  border-left-color: #61DAFB;
  border-radius: 50%;

  -webkit-animation: rotating-spinner .6s linear infinite;
  -moz-animation: rotating-spinner .6s linear infinite;
  -ms-animation: rotating-spinner .6s linear infinite;
  -o-animation: rotating-spinner .6s linear infinite;
  animation: rotating-spinner .6s linear infinite;
}

.story {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.score {
  width: 70px;
  height: 40px;
  background: #f5f5f5;
  line-height: 40px;
  font-size: x-large;
  text-align: center;
}

.story-body {
  background: #fbfbfb;
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  height: 40px;
}

.story-title {
  font-size: 14px;
  line-height: 20px;
}
